<nav class="navbar navbar-light header__container">
  <div class="container-fluid">
    <a class="navbar-brand">
      <span class="navbar__logo">Find</span>
      <span class="navbar__logo">Repositories</span>
    </a>
    <form *ngIf="amountParams < 2; else detalhes" class="d-flex" (ngSubmit)="handleSearchRepositories()">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="repositoryName"
        [(ngModel)]="repositoryName"
      >
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<ng-template #detalhes>
  <button type="button" (click)="changePageToHome()" class="btn btn-primary">Home</button>
</ng-template>
