.details__container {
  color: #fff;

  h1 a {
    text-decoration: none;
    color: #fff;
  }

  h1 a:hover {
    text-decoration: underline;
  }
}

.details__owner {
  img {
    max-width: 75px;
  }
}

.issue__container {
  max-height: 600px;
  overflow: scroll;
}

.issue {
  overflow: hidden;

  span {
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.details__languages {
}
