.details {
  color: #fff;

  h1 a {
    text-decoration: none;
    color: #fff;
  }

  h1 a:hover {
    text-decoration: underline;
  }

  &__owner {
    img {
      max-width: 75px;
    }
  }
}

.issue {
  overflow: hidden;

  &__title {
    span {
      font-weight: 500;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

}
