<app-header></app-header>
<div class="details__container container d-flex flex-column mt-3">
  <h1>
    <a href="">{{ repository.full_name }}</a>
  </h1>

  <div class="details__owner d-flex align-items-center mt-3 mb-3">
    <img class="img-responsive rounded" [src]="repository.owner.avatar_url" alt="">
    <p class="p-3">Author: {{repository.owner.login}}</p>
  </div>

  <h2>Description</h2>
  <p>{{repository.description}}</p>

  <h2>Issues - {{total_count}}</h2>

  <div class="issue mt-3 mb-3 border border-1 p-1 rounded" *ngFor="let issue of issues">
    <p>
      Title:
      <span>
        <a [href]="issue.url">
          {{ issue.title }}
        </a>
      </span>
    </p>

    <p>Open by: <span>{{issue.user.login}}</span></p>
  </div>
</div>
